/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

ul li.editMode input[type="text"] {
  display: block;
}

ul li.editMode label {
  display: none;
}

.todoInput {
  margin-top: 10px;
}
